{% extends 'prajna/base.html' %}
{% load static %}
{% block head %}
<title>Prajna: Solve Puzzle</title>
{% endblock head %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Submit a Puzzle Solution</h1>
      <p>No wallet connected. Connect wallet to show accounts and their ETH balances.</p>
      <div class="alert alert-danger" id="alert-error-https" style="display: none">
        You can run this example only over HTTPS connection.
      </div>
      <div id="prepare"></div>
      <div id="connected" style="display: none">
        <hr>
        <div id="network">
          <p>
            <strong>Connected blockchain:</strong> <span id="network-name"></span>
          </p>
          <p>
            <strong>Selected account:</strong> <span id="selected-account"></span>
          </p>
        </div>
        <hr>
        <h3>All account balances</h3>
        <table class="table table-listing">
          <thead>
          <th>Address</th>
          <th>ETH balance</th>
          </thead>
          <tbody id="accounts">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id="templates" style="display: none">
    <template id="template-balance">
      <tr>
        <th class="address"></th>
        <td class="balance"></td>
      </tr>
    </template>
  </div>
</div>
<script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
<script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
<script type="text/javascript"
        src="https://unpkg.com/@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
<script src="{% static 'prajna/js/solvePuzzle.js' %}"></script>
{% endblock content %}
